* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'MedievalSharp', cursive !important;
}

p {
    margin-bottom: 4px;
}

.header-logo {
    height: 95px;
    margin-left: 5px;
    margin-top: 5px;
    width: 130px;
}

header h1 {
    margin-top: 17px;
}

header p {
    position: relative;
    left: -20px;
}

#jumbo-header-text {
    color: rgba(243, 243, 243, 0.774);
    text-shadow: 2px 2px 4px black;
}

#jumbo-header-subtext {
    color:rgba(168, 223, 192, 0.692);
    text-shadow: 2px 2px 4px black;
}

#jumbotron {
    background:url(../images/planet-g811dbd317_1920-pixabay.jpg) no-repeat center center fixed;
    -webkit-background-composite: cover;
    background-size: cover;
}

#searchBars {
    float: left;
    width: 15%;
    margin-left: 15px;
}

.callout{
    box-shadow: 5px 5px 5px;
}

.results-screen {
    float: right;
    width: 80%;
    margin-right: 25px;
}

#top-display {
    font-weight: bold;
    padding: 0 15px;
}

.monster-card {
    background-color: rgb(223, 223, 223);
    width: 250px;
    min-height: 125px;
    padding: 12px;
    margin: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px black;
}

.monster-card h4 {
    font-weight: 600;
    margin-bottom: 2px;
    text-shadow: 1px 1px 1px grey;
}

.monster-card h5 {
    margin-bottom: 8px;
}

.monster-card p {
    font-size: 16px;
    margin-bottom: 4px;
}

.list-group {
    margin-bottom: 1rem;
    border: 1px solid #e6e6e6;
    color: #0a0a0a;
    list-style: none;
    width: auto;
}

.list-group-item {
    border-radius: 4px;
    padding: 0px 6px;
    margin: 6px 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    width: fit-content;
    box-shadow: 1px 1px 2px black;
}

.list-group-item:hover, .list-group-item:focus {
    text-decoration: underline;
}

.list-group-item:hover::after {
    content: " (x)";
}

.menu.align-right li {
    height: 44px;
}

#backdrop {
    background-color: rgb(255, 253, 253);
}

.menu li a {
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.dropImage {
    background:url(../images/d8m5q5z-7ffbeaf2-7af8-4f7f-b026-5cbc25dc95b6.jpg) no-repeat center center ;
    -webkit-background-composite: cover;
    background-size: cover;
}

#backdrop a:hover {
    text-decoration: underline;
}

.menu li a:active {
    color: white;
}

#pag-spot {
    display: block;
}

.pag-button {
    font-size: 20px;
    font-weight: bold;
}

#next-button {
    float: right;
    margin-right: 90px;
}

#prev-button {
    float: left;
    margin-left: 90px;
}

.aberration-type {
    background: rgb(130,172,203);
    background: radial-gradient(circle, rgba(130,172,203,1) 0%, rgba(178,187,194,1) 78%, rgba(191,191,191,1) 100%);
}

.beast-type {
    background: rgb(236,236,236);
    background: radial-gradient(circle, rgba(236,236,236,1) 0%, rgba(199,178,129,1) 100%);
}

.celestial-type {
    background: rgb(245,255,140);
    background: radial-gradient(circle, rgba(245,255,140,1) 0%, rgba(248,196,86,1) 77%, rgba(250,169,62,1) 100%);
}

.construct-type {
    background: rgb(205,209,212);
    background: radial-gradient(circle, rgba(205,209,212,1) 0%, rgba(119,119,119,1) 100%);
}

.dragon-type {
    background: rgb(70,52,52);
    background: linear-gradient(34deg, rgba(70,52,52,1) 0%, rgba(204,77,77,1) 42%, rgba(181,61,61,1) 100%);
}

.elemental-type {
    color: whitesmoke;
    background: rgb(65,116,186);
    background: radial-gradient(circle, rgba(65,116,186,1) 0%, rgba(170,33,33,1) 100%);
}

.fey-type {
    background: rgb(145,207,242);
    background: linear-gradient(34deg, rgba(145,207,242,1) 0%, rgba(236,183,255,1) 100%);
}

.fiend-type {
    color: whitesmoke;
    background: rgb(45,45,45);
    background: radial-gradient(circle, rgba(45,45,45,1) 0%, rgba(58,32,32,1) 38%, rgba(91,0,0,1) 100%);
}

.giant-type {
    background: rgb(162,168,168);
    background: linear-gradient(34deg, rgba(162,168,168,1) 0%, rgba(159,104,68,1) 100%);
}

.humanoid-type {
    background: rgb(215,192,192);
    background: linear-gradient(34deg, rgba(215,192,192,1) 0%, rgba(223,224,213,1) 12%, rgba(221,223,215,1) 25%, rgba(219,226,221,1) 37%, rgba(210,218,219,1) 50%, rgba(218,222,227,1) 64%, rgba(212,211,219,1) 77%, rgba(219,212,219,1) 89%, rgba(221,214,214,1) 100%);
}

.monstrosity-type {
    color: whitesmoke;
    background: rgb(98,66,11);
    background: radial-gradient(circle, rgba(98,66,11,1) 0%, rgba(41,41,41,1) 100%);
}

.ooze-type {
    background: rgb(148,204,132);
    background: linear-gradient(34deg, rgba(148,204,132,1) 0%, rgba(136,136,136,1) 100%);
}

.plant-type {
    background: rgb(116,205,91);
    background: linear-gradient(34deg, rgba(116,205,91,1) 0%, rgba(176,227,173,1) 100%);
}

.swarm-type {
    background: rgb(250,255,0);
    background: radial-gradient(circle, rgba(250,255,0,1) 0%, rgba(189,255,28,1) 100%);
}

.undead-type {
    color: whitesmoke;
    background: rgb(21,30,33);
    background: radial-gradient(circle, rgba(21,30,33,1) 0%, rgba(88,88,88,1) 100%);
}

@media screen and (max-width: 922px) {
    #searchBars {
        width: 95%;
    }
}
